.box__uploading,
.box__dragndrop,
.box__success,
.box__file,
.box__error {
  display: none;
}

.box {
  height: 400px;
  margin: 20px auto;
  width: 60%;
  background-color: lightblue;
}

div {
  text-align: center;
  padding-top: 20%;
}

.box__uploading,
.box__success,
.box__error {
  padding-top: 0;
}

#upload_button:hover {
  color: royalblue;
}

.box.has-advanced-upload {
  outline: 2px dashed black;
  outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: none;
}

.box.is-uploading .box__uploading {
  display: block;
}

.box.is-success .box__success {
  display: block;
}

.box.is-error .box__error {
  display: block;
}

#preview {
  display: none;
}

p {
  width: 50%;
  margin: 20px auto;
}

#title {
  margin-top: 20px;
  display: block;
  text-align: left;
  margin-left: 15%;
}
