footer {
  position: absolute;
  height: 150px;
  background-color: gray;
  width: 99%;
}

#footer_info {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  vertical-align: top;
  color: white;
  height: 110px;
  text-align: center;
}
