@keyframes slideOut {
  from {width: 20%;}
  to {width: 0;}
}
@keyframes slideSide {
  from {height:200px;}
  to {height: 0;}
}
body {
  font-family: sans-serif;
}

header {
  height: 150px;
  background-color: gray;
}
aside {
  width: 20%;
  height: 0;
  background-color: gray;
  padding-top: 110px;
  margin-top: -104px;
  margin-left: 3px;
  visibility: hidden;
}
a {
  display: block;
  margin: 4px 2px;
  text-decoration: none;
  color: white;
}
#drop_button {
  width: 20%;
  margin-top: 15px;
}
.slideOutMenuUp {
  animation: slideOut 0.3s ease-out 0s infinite normal;
  -webkit-animation: slideOut 0.3s ease-out 0s infinite normal;
}
.slideInMenuUp {
  animation: slideOut 0.3s ease-out 0s infinite reverse;
  -webkit-animation: slideOut 0.3s ease-out 0s infinite reverse;
}
.slideInMenuSide {
  animation: slideSide 0.2s ease-out 0s infinite reverse;
  -webkit-animation: slideSide 0.2s ease-out 0s infinite reverse;
}
.slideOutMenuSide {
  animation: slideSide 0.2s ease-out 0s infinite normal;
  -webkit-animation: slideSide 0.2s ease-out 0s infinite normal;
}
