@keyframes slideOut {
  from {width: 20%;}
  to {width: 0;}
}
@keyframes slideSide {
  from {height:200px;}
  to {height: 0;}
}
@keyframes slideUserMenu {
  from {margin-left: 75%; width: 25%;}
    to {margin-left: 60%; width: 40%;}
}
@keyframes fade {
  from {opacity: 0;}
    to {opacity: 1;}
}

body {
  font-family: sans-serif;
}

header {
  height: 150px;
  background-color: gray;
}

aside {
  width: 20%;
  height: 200px;
  background-color: gray;
  padding-top: 110px;
  margin-left: 0;
}

#main_article {
  position: absolute;
  top: 160px;
  left: 21%;
  width: 78%;
  border: 5px solid lightgray;
  border-radius: 10px;
  padding-bottom: 30px;
}

.links {
  display: block;
  margin: 4px 2px;
  text-decoration: none;
  color: white;
}

#drop_button {
  width: 100%;
  margin-top: 15px;
}

.slideOutMenuUp {
  animation: slideOut 0.3s ease-out 0s infinite normal;
  -webkit-animation: slideOut 0.3s ease-out 0s infinite normal;
}
.slideInMenuUp {
  animation: slideOut 0.3s ease-out 0s infinite reverse;
  -webkit-animation: slideOut 0.3s ease-out 0s infinite reverse;
}

.slideInMenuSide {
  animation: slideSide 0.2s ease-out 0s infinite reverse;
  -webkit-animation: slideSide 0.2s ease-out 0s infinite reverse;
}
.slideOutMenuSide {
  animation: slideSide 0.2s ease-out 0s infinite normal;
  -webkit-animation: slideSide 0.2s ease-out 0s infinite normal;
}

table, tr, td {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  height: 150px;
  line-height: 0;
}

#slide_out {
  margin-right: 0;
  margin-left: 75%;
  width: 25%;
  height: 145px;
}

#slide_tab {
  height: 150px;
}

#right_cell {
  background-color: #FF7012;
  width: 100%;
}

#right_cell > form {
  opacity: 0;
  display:block;
}

#loginbutton {
  visibility: hidden;
}

.slideInUserMenu {
  animation: slideUserMenu 0.4s ease-out 0s infinite normal;
  -webkit-animation: slideUserMenu 0.4s ease-out 0s infinite normal;
}
.slideOutUserMenu {
  animation: slideUserMenu 0.4s ease-out 0s infinite reverse;
  -webkit-animation: slideUserMenu 0.4s ease-out 0s infinite reverse;
}

.fadeIn {
  animation: fade 0.2s ease-out 0s infinite normal;
  -webkit-animation: fade 0.2s ease-out 0s infinite normal;
}
.fadeOut {
  animation: fade 0.2s ease-out 0s infinite reverse;
  -webkit-animation: fade 0.2s ease-out 0s infinite reverse;
}
