#elements {
  border: 1px solid black;
  width: 20%;
  background-color: gray;
  margin-top: 50px;
}
.remove_button {
  color: white;
  background-color: red;
  height: 25px;
  width: 25px;
  padding: 0;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
}
.resource {
  border-bottom: 1px solid black;
  width: 60%;
  margin: 0 auto;
  height: 50px;
  padding: 5px;
}
#add_resource {
  margin: 10px auto;
  display: inherit;
  height: 40px;
  width: 100px;
}
#resource_adder {
  width: 60%;
  margin: 20px auto;
}
#resource_adder > button {
  height: 40px;
  width: 150px;
}
#resource_adder > input {
  height: 25px;
}
#resource_title {
  width: 25%;
}
#resource_link {
  width: 70%;
}
.save_button {
  background-color: #FF7012;
  border: none;
  color: white;
  padding: 10px;
  display: block;
  margin: 10px auto;
  width: 80%;
}
#dropper {
  height: 300px;
  background-color: lightgray;
  width: 80%;
  margin: 0 auto;
  outline: 5px dashed gray;
  outline-offset: -10px;
}
#dropper_info {
  padding-top: 10%;
  text-align: center;
}
.drag_ready:hover {
  background-color: gray;
}
#tutorial_content {
  width: 90%;
  margin: 0 auto;
}
