#result {
  display: block;
  margin: 20px auto;
  width: 70%;
  border: 3px dashed gray;
}

#main_result {
  margin-left: 15%;
}

#result_table {
  width: 62%;
  border: 1px solid gray;
  margin: 0 auto;
  border-collapse: collapse;
}
.result_cell {
  border: 3px solid lightgray;
  padding: 3px;
}
