#result, #result_temp {
  display: block;
  margin: 20px auto;
  width: 70%;
  border: 3px dashed gray;
}
#result_temp {
  opacity: 0;
}

#main_result {
  margin-left: 15%;
}

#result_table {
  width: 62%;
  /*border: 1px solid gray;*/
  margin: 0 auto;
  border-collapse: collapse;
}
.result_cell {
  border-left: 3px solid lightgray;
  border-top: 3px solid lightgray;
  padding: 3px;
}
