.tutorial_p {
  width: 90%;
  margin: 0 auto;
  display: inline;
}
.tutorial_h3 {
  width: 90%;
  margin-left: 4%;
}
.tutorial_img {
  display: block;
  width: 30%;
  margin: 20px auto;
}
.tutorial_hr {
  width: 90%;
}
.tutorial_video {
  display: block;
  width: 80%;
  margin: 20px auto;
}
.tutorial_thumb {
  width: 5%;
  display: inline;
}
#current_paragraph {
  width: 90%;
  margin: 0 auto;
}
a {
  color: black;
}
#main_article {
  padding: 5%;
  padding-top: 20px;
  width: 68% !important;
}
