<link rel="stylesheet" href="/static/css/footer.css">
<footer id="footer">
  <img style="display: inline;" src="/static/img/footer_left.png">
  <span id="footer_info">
    Some random footer text that will be replaced once it is required.
    <img style="display: block; margin: 0 auto; margin-top: 20px; width: 100px; height: 100px;" align="center" src="/static/img/logo.png">
  </span>
  <img style="display: inline;" align="right" src="/static/img/footer_right.png">
</footer>
<script>
  function adjustFooter() {
    footer = document.getElementById('footer');
    article = document.getElementById('main_article');
    x = (document.getElementById('drop_menu').offsetHeight + 230)
    y = (article.offsetHeight)
    if (x > y) {
      footer.style.top = (x+170)+'px';
    } else {
      footer.style.top = (y+170)+'px';
    }
    span = document.getElementById('footer_info');
    span.style.width = (footer.offsetWidth-460)+'px';
  }
  adjustFooter();
  window.setInterval(adjustFooter, 200);
</script>
