  <title>{{title}}</title>
  <link rel="stylesheet" href="static/css/header.css">
</head>
<body>
  <header>
    <a href="javascript:toggleUserMenu();" style="color: rgba(0,0,0,0);">
      <div id="slide_out">
        <table>
          <tr>
            <td>
              <img src="static/img/slide_user_menu.png" id="slide_tab">
            </td>
            <td id="right_cell">
              <form id="user_menu" action="/signout" method="post">
                <table>
                  <tr>
                    <td>
                      <img src="https://www.peppercarrot.com/extras/html/2016_cat-generator/avatar.php?seed={{user.name}}" id="profile_img" height="130px" style="border: 2px solid black;border-radius: 5px;margin-left: 20px;">
                    </td>
                    <td style="padding-left: 20px;">
                      <h3 style="color: black;line-height: 1;">Welcome, {{user.name}}!</h3>
                      <button style="margin-left: 10px;height: 40px;width: 70%;background-color: gray;border: none;" id="loginbutton" type="submit">Sign Out</button>
                    </td>
                  </tr>
                </table>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </a>
  </header>
  <a href="javascript:toggleMenu();" style="display: block; color: rgba(0,0,0,0);">
    <img src="static/img/drop_down.png" id="drop_button">
  </a>
  <aside id="drop_menu">
    <a class="links" href="/">Home</a>
    <a class="links" href="/tutorials">Tutorials</a>
    <a class="links" href="/flagged">Flagged</a>
    <a class="links" href="/svgchecker">SVG Checker</a>
  </aside>
  <script src="static/js/header.js">
  </script>
