<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="shortcut icon" href="/static/img/logo.png"/>
  <title>{{title}} - Arsenal Vector Graphics</title>
  <script src="/static/js/header.js"></script>
</head>
<body>
  <header>
    <img src='/static/img/logo.png' id="header_logo">
    <h1 id="title_heading" style="top: 30px;left: 200px;text-decoration: underline; font-size: 30pt;">Welcome</h1>
    <a href="javascript:toggleUserMenu();" style="color: rgba(0,0,0,0);">
      <div id="slide_out">
        <table>
          <tr>
            <td><img src="/static/img/slide_index_menu.png" id="slide_tab"></td>
            <td id="right_cell">
              <form id="user_menu" action="/signout" method="post">
                <table>
                  <tr>
                    <td><img src="/static/img/user_img/{{user.id}}.png" id="profile_img" height="130px" style="border: 2px solid black;border-radius: 5px;margin-left: 20px;"></td>
                    <td style="padding-left: 20px;">
                      <h3 style="color: black;line-height: 1;">Welcome, {{user.name}}!</h3>
                      <button style="margin-left: 10px;height: 40px;width: 70%;background-color: gray;border: none;" id="loginbutton" type="submit">Sign Out</button>
                    </td>
                  </tr>
                </table>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </a>
  </header>
<article id="main_article">
  <div>
    <h2 class="title" style="margin-left: 30px;">About Arsenal:</h2>
    <p style="margin-left: 30px;width: 40%">Random info about this system</p>
  </div>
  <hr style="width: 95%">
  <div class="column" style="border-right: 2px solid gray;">
    <a href="/tutorials">
      <img class="preview" src="/static/img/tut_preview.png">
    </a>
    <h2 class="title">Tutorials:</h2>
    <p style="width: 70%;">Some random info about the tutorials stuff</p>
  </div>
  <div class="column">
    <a href="/svgchecker">
      <img class="preview" src="/static/img/checker_preview.png">
    </a>
    <h2 class="title">SVG Checker:</h2>
    <p style="width: 70%;">Some random info about the SVG checker</p>
  </div>
</article>
{%include footer.html%}
</body>
</html>
