<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" href="/static/img/logo.png"/>
    <title>{{title}}</title>
  </head>
  <body>
    <h2>Login{%if required%} Required{%end if%}</h2>
    <h2 style="color:red">{{error}}</h2>
    <div id="login_form">
      <form action="/login" method="post">
        <input name="name" type="text" placeholder="Username">
        <input name="pass" type="password" placeholder="Password">
        <br>
        <button type="submit" id="otherbuttons">Login</button>
        <button type="button" onclick="window.location.href='/signup';" id="otherbuttons">Create Account</button>
      </form>
    </div>
  </body>
</html>
