<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/login.css">
    {%include header.html%}
    <h2>Create an Account</h2>
    <div id="login_form">
      <form action="/signup">
        <input name="name" type="text" placeholder="Username">
        <input name="class_pass" type="text" placeholder="Class Password">
        <input name="pass" type="password" placeholder="Account Password">
        <input name="pass_confirm" type="password" placeholder="Confirm Account Password">
        <br>
        <button type="submit" id="otherbuttons">Create an Account</button>
        <button type="button" id="otherbuttons" onclick="location.href='/login'">Login</button>
      </form>
    </div>
  </body>
</html>
