<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/tutorial.css">
{%include header.html%}
<article id="main_article">
  {%for paragraph in tutorial.text[1:]%}
    {{safe paragraph}}
    {%if paragraph.startswith("<p")%}
      <br>
    {%end if%}
  {%end for%}
  <br>
  <a style="text-align: center;display: block; margin-top: 30px" href="/static/misc/tutorial_{{tutorial.id}}.zip">Download Tutorial Files as a ZIP</a>
  <br>
  <h4>External Resources</h4>
  <ul>
    {%for resource in external%}
      <li><a href="{{resource.link}}">{{resource.title}}</a></li>
    {%end for%}
  </ul>
  {%if user.is_teacher%}
    <a href="/tutorial/editor/{{tutorial.id}}" style="color: white; padding: 15px 0; text-align: center; text-decoration: none; display:block; background-color: #FF7012; width: 90%;">Edit Tutorial</a>
  {%end if%}
</article>
<script>
  var done = {{str(str(tutorial.id) in user.completed).lower()}};
  window.onscroll = function(ev) {
    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - 2 && !done) {
      done = true;
      var student_id = {{user.id}};
      var tutorial_id = {{tutorial.id}};
      
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/update/complete', true);
      xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {}
      xhr.send('studentid='+student_id+"&"+"tutid="+tutorial_id);
    }
  }
</script>
{%include footer.html%}
</body>
</html>
