<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/tutorial.css">
{%include header.html%}
<article id="main_article">
  {%for paragraph in tutorial.text[1:]%}
    {{safe paragraph}}
    {%if paragraph.startswith("<p")%}
      <br>
    {%end if%}
  {%end for%}
  <br>
  <a style="text-align: center;display: block; margin-top: 30px" href="/static/misc/tutorial_{{tutorial.id}}.zip">Download Tutorial Files as a ZIP</a>
  <br>
  <h4>External Resources</h4>
  <ul>
    {%for resource in external%}
      <li><a href="{{resource.link}}">{{resource.title}}</a></li>
    {%end for%}
  </ul>
</article>
{%include footer.html%}
</body>
</html>
