<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/tutorial.css">
{%include header.html%}
<article id="main_article">
  {%for paragraph in tutorial.text[1:]%}
    {{safe paragraph}}
    {%if paragraph.startswith("<p")%}
      <br>
    {%end if%}
  {%end for%}
  <br>
  <a style="text-align: center;display: block; margin-top: 30px" href="/static/misc/tutorial_{{tutorial.id}}.zip">Download Tutorial Files as a ZIP</a>
  <br>
  <h4>External Resources</h4>
  <ul>
    {%for resource in external%}
      <li><a href="{{resource.link}}">{{resource.title}}</a></li>
    {%end for%}
  </ul>
  {%if user.is_teacher%}
    <a href="/tutorial/editor/{{tutorial.id}}" style="color: white; padding: 15px 0; text-align: center; text-decoration: none; display:block; background-color: #FF7012; width: 90%;">Edit Tutorial</a>
  {%end if%}
</article>
{%include footer.html%}
</body>
</html>
