<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/tutorials.css">
  {%include header.html%}
  <article id="main_article">
    <nav id="topic_links">
      <a id="0" class="selected button" href="javascript:toggleTutorials(0);">All</a>
      {%for i in range(len(units))%}
        <a id="{{units[i].id}}" class="button" href="javascript:toggleTutorials({{units[i].id}});">Topic {{units[i].id}}</a>
      {%end for%}
    </nav>
    <div id="tutorial_list">
      <table style="width: 100%;">
      {%for i in range(len(units))%}
        {%for j in range(len(units[i].getTutorials()))%}
          {%if (j)%2 == 0%}
            <tr>
          {%end if%}
          <td style="width: 49%">
          <a href="/tutorial/{{units[i].getTutorials()[j].id}}">
            <div class="tutorial_preview">
              <h2 class="tutorial_title">{{units[i].getTutorials()[j].title}}</h2>
              <p class="tutorial_text">{{units[i].getTutorials()[j].getPreview()}}</p>
            </div></a>
          </td>
          {%if (j)%2 == 1%}
            </tr>
          {%end if%}
        {%end for%}
      {%end for%}
      </table>
    </div>
  </article>
  {%include footer.html%}
  <script>
    var list = document.getElementById('tutorial_list');
    var print = console.log;
    print(list.innerHTML);
    var oldSelected = 0;
    var htmlArray = {0 : list.innerHTML
      {%for i in range(len(units))%}
        , {{units[i].id}} : '<table style="width: 100%;">{%for j in range(len(units[i].getTutorials()))%}{%if (j)%2 == 0%}<tr>{%end if%}<td style="width: 49%"><a href="/tutorial/{{units[i].getTutorials()[j].id}}"><div class="tutorial_preview"><h2 class="tutorial_title">{{units[i].getTutorials()[j].title}}</h2><p class="tutorial_text">{{units[i].getTutorials()[j].getPreview()}}</p></div></a></td>{%if (j)%2 == 1%}</tr>{%end if%}{%end for%}</table>'
      {%end for%}
    };
    function toggleTutorials(unit_id) {
      if (htmlArray[unit_id] != undefined && unit_id != oldSelected) {
        list.innerHTML = htmlArray[unit_id];
        document.getElementById(unit_id).classList.add('selected');
        document.getElementById(oldSelected).classList.remove('selected');
        oldSelected = unit_id;
      } else {
        console.log('Stop fiddling young kiddo.');
      }
    }
  </script>
</body>
</html>
